<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patients</title>
    <link rel="stylesheet" href="/css/style_index.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans" />
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" >
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href=
    "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

    <link rel="stylesheet" href=
    "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity=
    "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

            <script src="/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js" ></script>
</head>
<body style="background-color: rgba(217, 251, 254, 0.283);">
    
    <nav class="navbar navbar-expand-md" >
        <div class="container-fluid">
            
          <a class="navbar-brand " style="font-family:'Inter'">
            <span class="mt-3 ml-5" style="font-size: 3rem;color: #18CDCA;float: left;font-weight: 600;" >Med</span>
            <span class="mt-3 " style="font-size: 3rem;color: #4F4F4F ;float: left;font-weight: 600;">Repo</span>
            </a>


            <button class="navbar-toggler me-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>


            <div class=" collapse navbar-collapse" id="navbarTogglerDemo02" style=" float: right;font-size:larger ;font-weight:bold ;font-family: 'Inter';">
              <ul class="navbar-nav " style="margin-left: 4.5rem;" >
                <li class="nav-item mt-3 ms-md-4 background-better" style="margin-top: 3rem;">
                  <a class="nav-link mt-1  ms-1" href="#" style="color:#ffffff;">
                    <span  class="fa fa-people-group ml-3 mt-1" style="color: #ffffff; width:1.78625 rem;float: left;;">
                        <span class="mt-3 ml-4" style="font-family:'Inter'; color: rgb(255, 255, 255);font-weight: 100;">Patients</span>
                    </a>
                </li>
                <li class="nav-item background-nice ms-md-4 mt-3 " style=" margin-top: 2.8rem;">
                    <a class="nav-link" href="../views/appointments.html" style="color:#828282;" id="appointments">
                        <span  class="fa fa-heart-circle-plus ml-3 mt-2" style="color: #6b6b6b; width:1.78625 rem;float: left">
                        <span class="mt-3 ml-4" style="font-family:'Inter'; color: #6b6b6b;font-weight: 100; ">Appointments</span>
            
                      
                    </a>
                </li>
                <li class="nav-item background-nice ms-md-4 mt-3 " style=" margin-top: 2.8rem;">
                    <a class="nav-link " href="#" style="color:#828282;">
                        <span  class="fa fa-plus ml-3 mt-1" style="color: #6b6b6b; width:1.78625 rem;float: left;">
                            <span class="mt-3 ml-4" style="font-family:'Inter'; color: #6b6b6b;font-weight: 100;">Emergencies</span>
                
                      
                    </a>
                </li>
              </ul>

              <div class="nav-item fresh mt-3 circle" style="align-items: end; margin-left:7rem;float: right; ">
                <a class="nav-link" href="#" style="color:#828282;">
                    <!--<img src="/images/R.png" class="ml-1 mt-2 " >-->
                    <i class="fa fa-bell mt-2 ml-2 fa-2x" style=" color: #0a5755;"></i>
                </a>
              </div>

              
            <div class="fresh-menu-btn circle mt-3 " style="margin-left:2rem;float: right; background-color:#18CDCA;">
              <i class="menu-btn fa fa-user fa-2x  mt-2" style=" margin-left: 0.9rem; color: #0a5755;"></i>
            </div>

             </div>
        </div>
    </nav>
<!--navbar over-->

<div class="row mt-5 me-3 ms-3 mb-3">
  <div class="row-cols-12 col-md-3">
    <div class="prettycard1 ml-4 ">
      <span class="mt-5" style="position: absolute; color: #0B5B5A;font-size:x-large;font-weight: 500;margin-top:  4.34rem;">Add New</span>
      <span style="position:absolute; margin-top: 5rem; color: #0B5B5A;font-size:x-large;font-weight: 500;">Patients</span>
      <a href="" id="add_new">
          <span id="boot-icon" class="bi bi-plus-circle " style="margin-top:5rem;float:right;font-size: 59px;opacity: 1; border: hidden; color: #0B5B5A;"></span></a>
  </div>
  </div>
  <div class="viewdisable row-cols-12 col-md-3">
    <div class="prettycard ms-3">
      <span class="mt-4 ms-2" style="font-size:x-large;font-weight: 550;color: #052E2D;">16</span>
      <span class="mt-5 "style="margin-left:-1.5rem;position: absolute; color: #0B5B5A;">Active Patients Today</span>
    </div>
  </div>
  <div class="viewdisable row-cols-12 col-md-3">
    <div class="prettycard">
      <span class="mt-4 ms-2" style="font-size:x-large;font-weight: 550;color: #052E2D;">28</span>
      <span class="mt-5 "style="margin-left:-1.5rem;position: absolute; color: #0B5B5A;">Completed Today</span>
    </div>
  </div>
  <div class="viewdisable row-cols-12 col-md-3">
    <div class="prettycard">
      <span class="mt-4 ms-2" style="font-size:x-large;font-weight: 550;color: #052E2D;">03</span>
      <span class="mt-5 "style="margin-left:-1.5rem;position: absolute; color: #0B5B5A;">Overdue Patients</span>
    </div>
  </div>
</div>



<div class="row container-fluid">
    <div class="ml-sm-4 ml-5 col-md-4 col-sm-8 mt-4">

        <div class="" style="font-family: 'Droid Sans'; color: rgb(13, 13, 109);font-weight:600;">
            <div class="col-10" style="font-size: 1.2rem;">
            <input type="search" class="fa fa-search form-control" style="font-family: 'Inter'; height: 3rem;" id="Name" aria-describedby="name" placeholder="Search by Patient Name or Hospital">
        </div>
            <div class="col-2 " style="float: right; margin-top: -3rem;">
                <button type="submit" class="btn " style="font-size: 1.2rem;height: 3rem;width: 8rem; background-color: #027874;color: white;">Search</button>
              </div>
          </div>


    </div>

    <div class="ml-5 col-md-4 col-sm-8 mt-4 mb-3">

        <div class="col-3 ms-3" style="opacity: 50%; margin-top: 0.75rem;">
            <label for="exampleDataList" class="form-label">Sort by:</label>
            </div>

            <div class="col-6 " style="opacity: 50%; margin-left: 6rem; margin-top: -2.5rem;">
              <select style="height: 2.5rem; width: 11rem;border-radius: 7px;border-width: 0.2rem;">
                <option value="" disabled selected style="font-weight: 0.2rem;">Select</option> 
                <option>Pending</option>
                <option>Active Patients</option>
                <option>Completed</option>
                <option>Due date</option>
              </select>
                

                </div>
          
    </div>
</div>

<ul class="nav-tabs nav mt-4 mb-3 ml-5" style="border-bottom: none;">
    <li class="nav-item" >
        <a class="nav-link active" aria-current="page" href="#" style="border-bottom: solid #18CDCA; font-weight: 500; border-left: none; border-top: none;border-right: none; color: #0B5B5A; font-size: larger;background-color: rgba(217, 251, 254, 0.283);">Active Patients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" id="completed" style="font-weight: 500; color: #5b5b5b;font-size: larger;">Completed</a>
      </li>
</ul>

<div class="row container-fluid">
  <span class="viewdisable mt-3 col-md-1 col-sm-2" style=" margin-left: 4rem; color: #a2a2a2; font-size:larger; font-weight: 600; font-family: 'Inter';">
    Status
</span>
    <span class=" mt-3 col-md-1 col-sm-2" style=" margin-left: 3.5rem; color: #a2a2a2; font-size:larger; font-weight: 600; font-family: 'Inter';">
        Date
    </span>
    <span class=" mt-3 col-md-2 col-sm-2" style=" margin-left: 3.5rem; color: #a2a2a2; font-size:larger; font-weight: 600; font-family: 'Inter';">
        Patient Name
    </span>
    <span class=" mt-3 col-md-2 col-sm-3" style=" margin-left: 3.5rem; color: #a2a2a2; font-size:larger; font-weight: 600; font-family: 'Inter';">
        Reg. No.
    </span>
    <span class="mt-3 col-md-2 ml-2 col-sm-4 viewdisable" style="  color: #a2a2a2; font-size:larger; font-weight: 600; font-family: 'Inter';">
      View Report
    </span>

    <span class="mt-3 col-md-2 col-sm-4 viewdisable" style="  color: #a2a2a2; font-size:larger; font-weight: 600; font-family: 'Inter';">
      Add New Report
    </span>
    
</div>
<!--card starts-->
<div class="card-13 row ms-5 me-5 mb-4" style="background-color: #028a8513;visibility: hidden;" id="demo">

  <span class="viewdisable ms-2 col-md-1 col-sm-2 mb-4 me-4" style="margin-top: 1.5rem;  color: #000000; font-size:medium; font-family: 'Inter';">
    <div class="card p-2" style="border: none; align-items: center; width: 4rem;font-weight: 600;color: #00a8ae;background-color: #03f7ff44;">
      Old
    </div>
</span>
    <span class="ms-3  col-md-1 col-sm-2 mb-3" style="margin-top: 2rem;  color: #000000; font-size:medium; font-family: 'Inter';">
        11/3/2022
    </span>
    <img src="/images/kk.jpeg" alt="" class="ms-5 " style="margin-top: 1.2rem; width:75px;height: 50px;border-radius: 50%;">
    <span class=" col-md-2 col-sm-2 mb-3" style="margin-top: 2rem;   color: #000000; font-size:medium; font-family: 'Inter';" id="name">
        Acmille Kary
    </span>
    <span class=" col-md-2 col-sm-3 mb-3" style="margin-top: 2rem;   margin-left: 1.75rem; color: #000000; font-size:medium; font-family: 'Inter';">
        #43438342
    </span>

    <span class="col-md-2 col-sm-4 ms-4 mt-4 mb-4" style="font-family: 'Droid Sans';" id="view report">
      <a  id="report" href="">
      <button class="btn" style=" font-size: 1.2rem; background-color: #DEEDEC;color:#0B5B5A;" data-bs-toggle="collapse" aria-controls="collapseExample2">View Report</button></a>
    </a>
    </span>
    <span class=" col-md-2 text-md-center ms-md-0 ms-5 mb-3 col-sm-2 pb-md-0 pb-sm-1" style="margin-top: 2rem;color:#027874;" id="canvas">
     

    <a class="dropdown-toggle" style="color:#028a8500;" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
      <img src="/images/plus-circle.svg" alt="" style="width:2rem;color: #027874;">
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="dropdown" >
      <a class="dropdown-item" href="#" id="upload">Upload</a>
      <a class="dropdown-item" href="hare krishna" id="write">Write</a>
    </div>

  </span>
    
 
  
  

</div>

<div class="side-bar">
  <div class="close-btn">
    <i class="fa fa-times fa-2x" style="color: #0a5755;">
    </i>
  </div>
  <div class="menu" style="align-items: center;">
    <div style="color: #117270; font-weight: 600; margin-top: 2.2rem; font-size: 1.5rem; margin-left: 6rem; align-items: center;">
      Doctor Info 
    </div>

    <div class="row container-fluid">
    <div class="card ms-4 me-5" style="border-width: 2px; border-color: #0a5755; background-color: rgba(255, 255, 255, 0.493); margin-top: 4rem;width: 17.5rem;">
      <img src="/images/kk.jpeg" alt="" class=" ms-1" style="margin-top: 1.2rem;height: 3rem;width: 3rem;border-radius: 25%;">
      <div style="margin-left: 4rem;margin-bottom: 2rem; margin-top: -3rem;font-weight: 600;font-size: large;">
        Dr. William Thompson
      </div>

      <div style="margin-left: 4rem;margin-bottom: 2rem; margin-top: -2rem;font-weight: 600;font-size:small;opacity: 50%;">
        Cardiologist 
      </div>

      <div >
        <button type="editprofile" class="btn mb-4" style="font-size: medium;height: 2.5rem;width: 16rem; color: #027874;background-color: white;">Edit Profile</button>
      </div>


    </div>
  </div>
  <div class="row container-fluid">

    <div style="margin-top: 10rem;">
      <i class="fa fa-question" style="margin-left: 5rem;">
        <a href="#" style="text-decoration:none;color: #003b39; font-family: 'Inter'; margin-top: -1.1rem; margin-left: 2rem;font-size: large;">
          Help
        </a>
      </i>
    </div>

    <div style="margin-top: 2rem;">
      <i class="fa fa-user" style="margin-left: 5rem;">
        <a href="#" style="text-decoration:none;color: #003b39;font-family: 'Inter'; margin-top: -1.1rem; margin-left: 2rem;font-size: large;">
          Logout
        </a>
      </i>
    </div>
  </div>
  </div>
  </div>


<script language="JavaScript" type="text/javascript" src="/jquery/dist/jquery.min.js"></script>

<!--next card-->
<script>
  $(document).ready(function() {
  
      var url = $(location).attr('href'),
        parts = url.split("/"),
        doctorid = parts[parts.length-1];
        
        $("#appointments").attr("href","/doctors/"+doctorid+"/appointments")
        $("#completed").attr("href","/doctors/"+doctorid+"/completed") ; 
        $.get('/doctors/getdata/'+doctorid)
                .done(function(response){    
                 // alert($('#completed').attr('href'));            
                  $("#doctor_name").text(response.Name);
                  let number=response.number;
                  let i=0,j=0;
                  var demo = $("#demo")
                  for(i=0;i<number;i++){
                    var elem = document.querySelector('#demo');
                    var clone = elem.cloneNode(true);
                    clone.id = 'patient'+i;
                    clone.style.visibility="visible";
                    elem.before(clone);
                    $("#patient"+i).find('#name').text(response.Patients[i])
                    $("#patient"+i).find("#report").attr({id:"report"+i,href:"/doctors/"+doctorid+"/reports/"+response.id[i]});
                    $("#patient"+i).find("#canvas").attr("id","canvas"+i);
                    let writeurl="/doctors/"+doctorid+"/canvas/"+response.Patients[i];
                     $("#canvas"+i).find("#write").attr("href",writeurl);
                     $("#canvas"+i).find("#upload").attr("href","/doctors/"+doctorid+"/add_patients/"+response.Patients[i]);
                    j=j+5;
                  }
                  
                })
                .fail(function(jqXHR, textStatus, errorThrown) {
                  alert(errorThrown)});

          


            $("#demo").click(function () {
               $(this).clone().insertAfter(this);
            });



         });


</script>

<script>
  //jquery for expand and collapse menu
  $('.fresh-menu-btn').click(function(){
    $('.side-bar').addClass('active');
    $('.fresh-menu-btn').css("visibility","visible");
  });

  $('.close-btn').click(function(){
    $('.side-bar').removeClass('active');
    $('.fresh-menu-btn').css("visibility","visible");
  });


</script>



<script>
    function classToggle() {
  const navs = document.querySelectorAll('.nav-item')
  
  navs.forEach(nav => nav.classList.toggle('Navbar__ToggleShow'));
}

document.querySelector('.Navbar__Link-toggle')
  .addEventListener('click', classToggle);


</script>

<script>
    $(function () {
  $('.example-popover').popover({
    container: 'body'
  })
})
</script>


</body>
</html>