<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front-Page</title>
    <link rel="stylesheet" href="/css/style_index.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans" />
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" >
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href=
    "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />


    <link rel="stylesheet" href=
    "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity=
    "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">

            <script src="/@popperjs/core/dist/umd/popper.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js" ></script>
<body>
    <nav class="navbar navbar-expand-md" style=" background-color: #F2F6FF;">
        <div class="container-fluid">
            
          <a class="navbar-brand" style="font-size: 2.75rem;font-family:'Inter'">
            <img src="/images/Emblem_of_India.svg" class="mt-2 ms-4 me-1" style="width:2rem ;height:3.245625 rem;float: left;"class="mt-2 ms-4 me-1" style="width:2rem ;height:3.245625 rem;float: left;">
            <img src="images/Line 1.png" class="mt-2 ms-1 me-1" style="width:0.02rem ;height:3.0625rem;float: left;">

            <span class="mt-1 ms-1 me-1" style="color: #18CDCA;float: left;font-weight: 600;">Med</span>
              <span class="mt-1  " style="color: #4F4F4F ;float: left;font-weight: 600;">Repo</span>
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#Navbar" >
            <span class="fa fa-list"></span>
          </button>  

          <div class="collapse navbar-collapse" id="Navbar" >
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0" style="font-size:larger ;font-weight:400 ;font-family: 'Inter';line-height: 1.895625 rem;">
                <li class="nav-item">
                    <a class=" p-3 nav-link" href="#" style="color:#0B5B5A; ">
                      About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="p-3 nav-link" href="#" style="color:#0B5B5A;">
                      Help
                    </a>
                </li>
                <li class="nav-item">
                    <a class="p-3 nav-link" href="#" style="color:#0B5B5A;">
                      Know More
                    </a>
                </li>
            </ul>
            </div>
        </div>
          </nav>

                <div class="row container-fluid">


                    <!--form-->     <div class="col-md-3 col-sm-7 mt-5 " style="position: relative; margin-left: 5rem;">
                      <div class="mt-2" style="font-size: xx-large;color: rgb(13, 13, 109);font-family:'Droid Sans';font-weight: 900;text-shadow: 0.0625rem 0 #000000;">Hi, Welcome!</div>
                      
                          <form id="checklogin" action="" method="get">
                           <br>
                           <div class="mb-3" style="font-family: 'Droid Sans'; color: rgb(13, 13, 109);font-weight:600;">
                             <label for="Name" class="form-label">Mail ID</label>
                             <input type="name" class="form-control" id="Email" aria-describedby="name" placeholder="yourname@example.com" name="email">
                           </div>
                           <div class="mb-3"style="font-family: 'Droid Sans'; color: rgb(13, 13, 109);font-weight:600;">
                             <label for="password" class="form-label">Password</label>
                             
                             <input type="password" name="password" 
                             class="form-control"
                             id="id_password">


                             <img src='/images/eyelash.png'
                             style="top: -2rem;width:5%;position: relative;left: 18rem;cursor: pointer;" 
                             id="toggler">

                             <div style="color: red;display: none;" id="red">Inavlid Credentials, Kindly check once!</div>

                     </div>

                    
               
                           <button  class="btn container-fluid" style="background-color: #00A09A;color: white;height:50px;text-align: center;font-size: 20px;" type="submit" id="loginbutton">LOGIN </button>
                           <br><br><br>
                           <div style="margin-left: 50px;font-family: 'Inter';font-size: 15px;">Don't have an account? <a href="/" style="font-weight: bold;color: #0f8f69;">Click here.</a></div>
                           
                           <div id="hello" style="display:none;">Hello ji</div>
                       
                          
                         </form></div><!--form-->
               
                        <!--image scroll--> <div class="col-6 container-fluid" style="margin-top: 76px;margin-bottom: 266px;position: relative;">
                           <div id="myslideshow" class="carousel slide " data-ride="carousel" data-interval="100">
                             <!--<div class="carousel-indicators" style="display:flex;bottom: 10px">
                               <button type="button" style="height: 5px;width: 5px;border-radius: 50%;padding: 9px;" data-bs-target="#myslideshow" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                               <button type="button " style="height: 5px;width: 5px;border-radius: 50%;padding: 9px;align-self: center;" data-bs-target="#myslideshow" data-bs-slide-to="1" aria-label="Slide 2"></button>
                               <button type="button" style="height: 5px;width: 5px;border-radius: 50%;padding: 9px;"data-bs-target="#myslideshow" data-bs-slide-to="2" aria-label="Slide 3"></button>
                             </div>-->
                             
                             <div class="carousel-okay carousel-inner" style="height:36.375rem;width:46.625rem;position: relative;border-radius: 51px;background-color: #292D32;">
                               <div class="carousel-okay carousel-item active">
                                 <img src="/images/im1.jpg"  class="w-100 h-100" style="height: 100%;max-width: 100%;" style="width: 100%;"alt="" >
                               </div>
                               <div class="carousel-item" >
                                 <img src="/images/im23.jpg"  class="w-100 h-100" style="height: 100%;max-width: 100%;" style="width: 100%;"alt="" >
                               </div>
                               <div class="carousel-item" >
                                 <img src="/images/im33.jpg"  class="w-100 h-100" style="height: 100%;max-width: 100%;" style="width: 100%;"alt="" >
                               </div>
                             </div>
                             <div style="text-align:center; position:relative; top: -50px">
                               <span class="dot"></span> 
                               <span class="dot"></span> 
                               <span class="dot"></span> 
                             </div>
                           </div>
                         </div> <!--image scroll-->
                       
                     
                     </div>
</body>



<script language="JavaScript" type="text/javascript" src="/jquery/dist/jquery.min.js"></script>

<script>
$("#checklogin").on("submit",function(event){

  lower_email=$("#Email").val().toLowerCase();
  password=$("#id_password").val();

  event.preventDefault();
      
  $.get('/login/checklogin?Email='+lower_email+'&password='+password)
  
        .done(function(response){
        
      let message=response.message;
      if(message=='Invalid'){
        
        $("#red").text("Invalid Credentials, Kindly check again!")
        $("#red").css('display','block');
      }
     
      else if(message=='Success'){
        id=response.id;
        document.getElementById('checklogin').action = 'doctor/'+id;
        event.currentTarget.submit();
      }

  })

  .fail(function(jqXHR, textStatus, errorThrown) {
     alert(errorThrown)});
});




</script>















<script>
 function toggle(){
let input;
  input = document.querySelector("#id_password");
// When an input is checked, or whatever...
if (input.getAttribute("type") === "password") {
  input.setAttribute("type", "text");

 document.getElementById("toggler").src ="/images/eye.png";

  
} else {
  input.setAttribute("type", "password");
  document.getElementById("toggler").src ="/images/eyelash.png";
}
 }
 document.getElementById("toggler").onclick=()=>toggle();

</script>


  </body>
</html>