.toggle {
    --width: 25px;
    --height: calc(var(--width) / 2.1);

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
}

/* hiding checkbox */
.toggle input {
    display: none;
}
.toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    background-color: #ccc;
    transition: all 0.4s ease-in-out;
}
.toggle .slider::before {
    content: '';
    position: absolute;
    top: 0.5px;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 2);
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
}
.toggle input:checked + .slider {
    background-color: #0f8f69;
}
.toggle input:checked + .slider::before {
    transform: translateX(calc(var(--width) - var(--height)));
}

.btnsign {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .btnsign:hover {
    background-color: RoyalBlue;
  }

  /*dots*/
  .dot {
    height: 10px;
    width: 10px;
    padding: 9px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active {
    background-color: #18CDCA;
  }

  @media screen and (max-width: 900px) {
    .carousel-okay {
      display: none;
    }
    .fresh{
      display: none;
    }
    
  }

  .background-better{
    width:229.81px;
    background-color: #18CDCA;
    border-radius: 5px; 
    height: 52.39px;
    border-color: #4F4F4F;
  }


  .background-nice{
    border-style: solid;
    opacity: 50%;
    border-width: 5%;
    border-color:#828282;
    width:229.81px;
    background-color:#ffffff;
    border-radius: 5px;
    height: 52.39px;
    border-width: 5%;

  }

  .fresh{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    background-color:#ffffff;
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    border-color: #4F4F4F;
    border-width: 5%;
  }

  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .colum {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  /*.row {margin: 0 -5px;}*/
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .prettycard1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    background-color: #DEEDEC;
    height:12.3rem;
    border-radius: 4%;
  }


  .moreprettycard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    height:12.3rem;
    border-radius: 7px;
    height: 12.3rem; 
    border: none; 
    background-color: #028a8513;
  }

  .prettycard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    border-radius: 5px;
    background-color: white;
    height:6.75rem;
    width: 17.25rem;
    margin-top: 5.5rem;
  }

  .card1{
    border-radius: 4%;
    padding: 5px;
    background-color: #939AA4;
    height:2.6rem;
    width: 8rem;
    margin-top: 6rem;
  }

  .card-13{
    border-radius: 6px;
    padding: 10px;
    border: #939AA4 solid;
    
  }

  .card11{
    
    border-style: solid;
    border-radius: 5px;
    height:2.6rem;
    width: 8rem;
    margin-top: 6rem;
    opacity:50%;

  }

  .card12{
    margin-left: 4rem;
    border-radius: 5px;
    height:3rem;
    width: 22rem;
    margin-top: 5.3rem;
  }

  .btnpretty {
    background-color: #0B5B5A; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    width: 10.06rem;
    height: 3.6rem;
    cursor: pointer; /* Mouse pointer on hover */
  }
  

  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 900px) {
    .colum {
      width: 75%;
      display: block;
      margin-bottom: 20px;
    }
    .viewdisable{
      display: none;
    }
  }
@media screen and (max-width: 900px) {
  .line-okay{
    display: none;
  }
}
 

